<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>969000072653-3lncclm1ubcbtsb9d0vijtfd1be8k734.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969000072653-3lncclm1ubcbtsb9d0vijtfd1be8k734</string>
	<key>API_KEY</key>
	<string>AIzaSyBBlgs7VY6bJZapiQ59KxIUitpPuwStL0g</string>
	<key>GCM_SENDER_ID</key>
	<string>969000072653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rubio-lin.rubio-lin</string>
	<key>PROJECT_ID</key>
	<string>rubiolin</string>
	<key>STORAGE_BUCKET</key>
	<string>rubiolin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969000072653:ios:f3e1d5e9d8eb02bfd84084</string>
</dict>
</plist>